@font-face {
	font-family: 'Dogicapixel';
	src: url('https://www.cryptobigs.com/fonts/dogicapixel.ttf');
}
body {
	color: rgb(0, 193, 0);
	font-size: 18px;
	font-family: 'Dogicapixel', monospace;
	padding: 20px;

	background: #000000;  /* fallback for old browsers */
	background: -webkit-linear-gradient(135deg, #161616, #000000);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(135deg, #161616, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.header-bar {
	width: 100%;
	text-align: center;
}
.content {
	/* height: 500px; */
	font-size: 14px;
	line-height: 32px;
	margin-left: 80px;
	margin-right: 80px;
	min-height: 500px;
	max-height: 600px;
	overflow-y: auto;
}
.logo {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 14px;
}
.sub-title {
	margin-bottom: 20px;
	font-size: 16px;
}
.social {
	width: 100%;
	margin-bottom: 20px;
	text-align: center;
}
.social-logo {
	margin-right: 10px;
}
.links {
	margin-left: 80px;
	margin-right: 80px;
	margin-bottom: 30px;
}
.footer {
	text-align: center;
	font-size: 12px;
	color: #5b5b5b;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

li {
	flex-basis: calc(25% - 20px);
	margin: 10px;
	text-align: center;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 10px;
	transition: filter 0.5s;
}

@media screen and (max-width: 767px) {
	li {
		flex-basis: calc(100% - 20px);
	}
	.sub-title {
		margin-bottom: 20px;
		font-size: 14px;
	}	
	.content {
		line-height: 30px;
		font-size: 14px;
		margin-left: 4px;
		margin-right: 4px;
		min-height: 800px;
		max-height: 1000px;
		overflow-y: auto;
	}
	.links {
		margin-left: 4px;
		margin-right: 4px;
	}
}